services:
  all-in-one:
    image: ghcr.io/fullstack-e-learning/all-in-one:130620242108
    container_name: all-in-one
    restart: on-failure
    ports:
      - "80:8080"
    environment:
      DB_HOST: 'jdbc:postgresql://{{ hostvars[inventory_hostname].db_endpoint }}/{{ hostvars[inventory_hostname].db_name }}'
      DB_USERNAME: '{{ hostvars[inventory_hostname].db_username }}'
      DB_PASSWORD: '{{ hostvars[inventory_hostname].db_password }}'
      BASE_PATH: /usr/data
    volumes:
      - "{{ efs_mount_dir }}:/usr/data"
    network_mode: "host"
    user: root:root